


h1 {
    font-family:'Courier New', Courier, monospace;
    color:rgb(177, 106, 13);
    text-align: center;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(70, 68, 88);
    text-align: center;
}

p{
    text-align: center;
}